* {
	font-size: 12px;
	font-family: arial;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 1px #fff;
	color: #333;
}

p {
	padding: 20px;
}

ul {
	padding: 0px 40px 0 80px;
}

p, ul li {
	font-size: 17px;
}

h1 {
	font-size: 23px;
	padding: 20px;
}

body {
	margin: 20px 150px 0 150px;
}

.error {
	color: red;
}